<!doctype html>
<html lang="en">
<head>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Site info -->
  <title>Mohamed S Abdrabou - Full Stack Web Developer - Pittsburgh , Pennsylvania , USA</title>

  <meta property="og:type" content="website">
  <meta property="og:title" content="Mohamed S Abdrabou - Full Stack Web Developer - Pittsburgh , Pennsylvania , USA">
  <meta property="og:image" content="img/fav.png">
  <meta property="og:url" content="http://moesaid.com/">
  <meta property="og:locale" content="en_US" />
  <meta property="twitter:site" content="@MohamedSaid__">
  <meta property="twitter:creator" content="@MohamedSaid__">
  <meta property="twitter:url" content="http://moesaid.com/">
  <meta property="twitter:title" content="Mohamed S Abdrabou - Full Stack Web Developer - Pittsburgh , Pennsylvania , USA">
  <meta property="twitter:image" content="img/fav.png">

  <meta name="description" content="Mohamed S Abdrabou - Full Stack Web Developer">
  <meta property="og:description" content="Mohamed S Abdrabou - Full Stack Web Developer">
  <meta property="twitter:description" content="Mohamed S Abdrabou - Full Stack Web Developer}">



  <link rel="shortcut icon" href="img/fav.png" type="image/x-icon">
  <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.12.1/css/pro.min.css">
  <link rel="stylesheet" href="css/style.css">  
  <title>MoeSaid</title>
</head>
<body class="bg-white">